name: Deploy Feature Branch MCP
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: non-prod
    steps:
      - name: Dispatch Workflow
        uses: timescale/workflow-dispatch-action@main
        with:
          github-token: ${{ secrets.ORG_GITHUB_AGENTS_TOKEN }}
          owner: timescale
          repo: tiger-agents-deploy
          workflow_id: deploy.yaml
          ref: "main"
          inputs: '{"repository": "tiger-slack-mcp-server", "sha": "${{ github.sha }}"}'
